<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="nuix_staging_url" value="https://nuix.github.io/SDET/senior-sdet/stagingCalc/index.html" />
    <add key="nuix_production_url" value="https://nuix.github.io/SDET/senior-sdet/productionCalc/index.html" />
    <add key="Test_Browser" value="chrome" />
    <add key="environment" value="stage" />
  </appSettings>
</configuration>